/*===================
	  CSS RESET 
===================*/

@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
    padding: 0;
    border: 0;
    margin: 0;
    letter-spacing: 0.025em;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

